Repository hmcts/fis-cos-api, pull requests merged in 2022-06, with the labels that each got.

#54 fix aks deploy stage time issue
  charts/fis-cos-api/Chart.yaml
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-54

#55 Feature/isdb 232 document upload deletion
  charts/fis-cos-api/Chart.yaml
  charts/fis-cos-api/values.preview.template.yaml
  charts/fis-cos-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/cosapi/Application.java
  src/main/java/uk/gov/hmcts/reform/cosapi/controllers/DocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/Document.java
  src/main/java/uk/gov/hmcts/reform/cosapi/exception/CaseCreateOrUpdateException.java
  src/main/java/uk/gov/hmcts/reform/cosapi/exception/DocuementUploadOrDeleteException.java
  src/main/java/uk/gov/hmcts/reform/cosapi/handler/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cosapi/model/DocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/cosapi/model/DocumentResponse.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/CaseManagementService.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/cdam/CaseDocumentApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cosapi/edgecase/model/CaseDataTest.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-55

#59 Feature/isdb 244 case submission change
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/cosapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cosapi/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/reform/cosapi/controllers/CaseManagementController.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/EventEnum.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/adoption/AdoptionCitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/privatelaw/SubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/CaseManagementService.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/ccd/CaseApiService.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-59

#71 Ccd chart upgrade
  charts/fis-cos-api/Chart.yaml
  charts/fis-cos-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-71

#64 feat: add extra fields in case data (ISDB-248)
  src/main/java/uk/gov/hmcts/reform/cosapi/document/model/EdgeCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/cosapi/model/ContactPreference.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-64
