Repository hmcts/fis-cos-api, pull requests merged in 2022-04, with the labels that each got.

#4 Feature/isdb 115
  bin/add-ccd-role.sh
  bin/add-ccd-user-profiles.sh
  bin/add-roles.sh
  bin/ccd-build-definition.sh
  bin/ccd-import-definition.sh
  bin/generate-ccd-definition.sh
  bin/idam-user-token.sh
  bin/patch-cases-in-ccd.sh
  bin/process-and-import-ccd-definition.sh
  bin/run-in-docker.sh
  bin/s2s-token.sh
  bin/smokeTest/application.properties
  build.gradle
  config/owasp/suppressions.xml
  lombok.config
  package.json
  src/integrationTest/java/uk/gov/hmcts/reform/fis/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fis/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/fis/Application.java
  src/main/java/uk/gov/hmcts/reform/fis/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fis/config/S2sAuthConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fis/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/fis/services/S2sAuthService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/fis/smoketests/SmokeTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/fis/config/S2sAuthConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/fis/services/S2sAuthServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-4

#11 feat: implement basic call backs for citizen journey(ISDB-120)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/CitizenUpdateApplication.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-11

#10 ISDB-116:
  .gitignore
  Jenkinsfile_CNP
  README.md
  bin/add-ccd-role.sh
  bin/add-roles.sh
  bin/ccd-import-definition.sh
  bin/patch-cases-in-ccd.sh
  build.gradle
  charts/fis-cos-api/Chart.yaml
  charts/fis-cos-api/values.aat.template.yaml
  charts/fis-cos-api/values.preview.template.yaml
  charts/fis-cos-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/cosapi/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/cosapi/document/model/EdgeCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/AdoptionEdgeCase.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/PrivateLawEdgeCase.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/constants/CaseType.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/adoption/AdoptionCitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/adoption/AdoptionCitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/adoption/AdoptionCitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/adoption/AdoptionCitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/privatelaw/PrivateLawCitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/event/privatelaw/PrivateLawCitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/model/PrivateLawCaseData.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/adoption/AdoptionSearchCasesResultFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/adoption/AdoptionSearchInputFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/adoption/AdoptionSearchResultFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/privatelaw/PrivatelawSearchCasesResultFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/privatelaw/PrivatelawSearchInputFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/search/privatelaw/PrivatelawSearchResultFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/workbasket/adoption/AdoptionWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/workbasket/adoption/AdoptionWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/workbasket/privatelaw/PrivatelawWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/reform/cosapi/edgecase/workbasket/privatelaw/PrivatelawWorkBasketResultFields.java
  src/test/java/uk/gov/hmcts/reform/cosapi/edgecase/model/CaseDataTest.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-10

#21 ISDB-112:
  README.md
  bin/add-ccd-role.sh
  charts/fis-cos-api/values.aat.template.yaml
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-21

#24 ISDB-112:
  README.md
  charts/fis-cos-api/Chart.yaml
  charts/fis-cos-api/values.aat.template.yaml
  charts/fis-cos-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-24
