Repository hmcts/fis-cos-api, pull requests merged in 2022-05, with the labels that each got.

#33 build.gradle PR fix
  build.gradle
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-33

#40 feat: add log statement (ISDB-214)
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/cosapi/Application.java
  src/main/java/uk/gov/hmcts/reform/cosapi/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-40

#41 feat: align build.gradle with fis-bulk-scan-api
  build.gradle
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-41

#45 Feature/deployment issue
  README.md
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/cosapi/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-45
