Repository hmcts/fis-cos-api, pull requests merged in 2022-07, with the labels that each got.

#83 Added code for pact testing
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/CommonConstants.java
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/ccd/CaseManagementConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/cdam/DocumentDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/cdam/DocumentUploadConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/idam/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/cosapi/clients/idam/IdamApiConsumerTest.java
  src/smokeTest/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-83

#86 Fixed Sonar issue
  src/main/java/uk/gov/hmcts/reform/cosapi/util/AppsUtil.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-86

#87 Fix MetricsPublisher constructor
  Jenkinsfile_CNP
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-87

#90 Updated code to fetch case details
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/cosapi/controllers/CaseManagementControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cosapi/controllers/CaseManagementController.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/CaseManagementService.java
  src/main/java/uk/gov/hmcts/reform/cosapi/services/ccd/CaseApiService.java
  src/test/java/uk/gov/hmcts/reform/cosapi/controllers/CaseManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cosapi/services/CaseManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cosapi/services/ccd/CaseApiServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cosapi/util/TestConstant.java
Labels: ns:fis, prd:fis, rel:fis-cos-api-pr-90
